section{
    background-color: #202329;
    max-width: 1920px;
    min-height: 27.3vh;
    padding: 4.5rem 0;
}

section .characters{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.loader {
    margin: 0 auto;
    border: 8px solid #1c1f25;
    border-radius: 50%;
    border-top: 8px solid gray;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }